
header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  background-color: rgb(238, 238, 238);
  padding: 20px auto;
  height: 100px;
  color: rgb(0, 0, 0);
  box-shadow: 5px 10px 18px #888888;
  border-radius: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
}

#myButton {
  display: inline-flex;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #1ED760;
  height: 48px;
  :hover{
      transform: scale(1.04);
      background-color: #b6e0c4;
  }
  margin: 10px 10px;
  box-shadow: 5px 10px 18px #888888;
}

.container {
  display: grid;
  width: 360px; /* Set the desired width of the grid */
  height: 360px;
  margin: 20px auto;
  border: 20px solid red;
  border-radius: 20px;
  box-shadow: 5px 10px 18px #888888;
}
  
.square {
    background-color: rgb(255, 255, 255);
    border: 0.2px solid rgb(150, 146, 146);  /* Optional: Add a background color to the squares */

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
  background-color: rgb(167, 192, 214);
  padding: 20px auto;
  height: 100px;
  color: rgb(0, 0, 0);
  box-shadow: 5px 10px 18px #888888;
  border-radius: 20px;
}



  